streamlit
opencv-python
gtts
speechrecognition
googletrans==4.0.0rc1
pillow
langdetect
openai
plotly
numpy
pandas
pyttsx3
opencv-python-headless==4.5.5.64
deep-translator
reportlab
streamlit
speechrecognition
pyttsx3
plotly
opencv-python-headless
deep-translator
reportlab
googletrans==4.0.0rc1
gtts
pandas
numpy
qrcode
